* {
    top: 0;
    left: 0;
    margin: 0;
}

.bodyFlexColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 24px 12px 24px 0px;
    .headerFlexRow {
        font-size: 40px;
    }
    .underLine {
        border: 1px solid black;
        width: 15%;
    } 
}