@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

._columnFlexContainer {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 330px;
    padding: 5px 5px 5px 5px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.2);
    background-color: #b3b27d;
    ._img {
        border-radius: 12px 12px 0 0;
    }
    ._divFlexText {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
    }
}