* {
    box-sizing: border-box;
}
html {
    background-image: url(../../img/back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    width: 100%;
    margin: 0;
}