$sizeInputText: 30px;

* {
    box-sizing: border-box;
    margin: 0;
    top: 0;
}

._mainFlexContainer {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
    .wrapFlexButton {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        ._buttonSort {
        width: 10%;
        border-radius: 12px;
        background-color: #2b93ba;
        text-decoration: none;
        }
        ._buttonSort:hover {
            transition: all 0.4s ease-in;
            background-color: #b3b27d;
        }
    }
    
    ._wrapperMainFlexCont {
        position: sticky;
        display: flex;
        width: 35%;
        justify-content: flex-start;
        align-items: center;
        margin: 10px auto 0 auto;
            ._inputSearch {
                position: sticky;
                width: 100%;
                height: 100%;
                padding: 6px 0 6px 10px;
                margin-top: 80px;
                font-size: $sizeInputText;
                color: black;
                border-radius: 12px;
                border-color: black !important;
            }
            ._inputSearch:focus {
                border-color: black !important;
                outline: none;
            }
    }
}

._wrapContainer {
    width: 100%;
    margin: 12px 0 0 0;
    ._rowFlexWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 550px) {
    ._wrapperMainFlexCont {
        position: static !important;
        width: 65% !important;
        margin: 10px auto 0 auto !important;
            ._inputSearch {
                position: static !important;
                font-size: 20px;
            }
    }
}

